
<% layout('layouts/boilerplate') -%>
 

 <div class="jumbotron rounded-0 bg-dark text-light mb-0">
   <div class="container">
     <h1 id="lolo"><%= post.title %></h1>
   </div>
 </div>
 
 <div class="container my-3">
 <div class="row justify-content-center">

  <div class="col-lg-8">
   <div class="card">
    <h5 class="text-center mt-2"><%= post.title %></h5>
    
    <p class="pl-2 font-weight-light">Post on <%= post.created.toDateString() %> By <strong class="text-primary"><%= post.author.username %></strong></p>
    
    <div class="container">
     <div class="row justify-content-center">
      <% post.images.forEach(function(image){ %>
      <div class="col-4 my-2">
         <img class="img-fluid" src="<%= image.url %>">
      </div>
      <% }) %>
     </div>
    </div>
    
    <!--Display Average Rating-->
     <div class="container">
      <span><strong>Average Rating :</strong></span>
      <% for(let i = 0 ; i < 5 ; i++){ %>
      <% if(i < floorRating){ %>
      <i class="fas fa-star text-warning"></i>
      <% }else if( (post.avgRating - i) > 0 && (post.avgRating - i) < 1 ) { %>
      <i class="fas fa-star-half-alt text-warning"></i>
      <% } else { %>
      <i class="far fa-star"></i>
      <% } %>
      <% } %>
    </div>
    
    <p class="pl-3 mt-3"><strong>Price : </strong><%= post.price %> $ </p>
    <p class="pl-3"><strong>Condition : </strong><%= post.condition %> </p>
    <p class="pl-3"><strong>Location : </strong><%= post.location %> </p>
    
      <!-- MAP HERE-->
      <div class="container">
        <div class="mb-5 mx-auto mt-5" id='map'></div>
      </div>          
       
                
    <!--MAP END-->
    
    
    <div class="container">
      <p><strong>Description :</strong> <%- post.description %></p>
    </div>
    <!--Add / Delete Review buttons -->
    <div class="container text-center my-3">
       <!-- Add review toggle button -->
       <% if(currentUser){ %>
         <button class="btn btn-sm btn-success new-review-button"  type="button" data-toggle="collapse" data-target="#review-form">Add Review</button>
       <% } %>
       <a class="btn btn-sm btn-primary" href="#">Buy</a>
       
       <% if(currentUser && post.author.equals(currentUser._id)){ %>
          <a class="btn btn-sm btn-warning" href="/posts/<%= post._id %>/edit">Edit</a>
          <form class="d-inline" action="/posts/<%= post._id %>?_method=DELETE" method="Post">
            <button class="btn btn-sm btn-danger">Delete Post</button>
          </form>
       <% } %>
      
    </div>
    <!-- Review Form -->
    <div class="container collapse my-3" id="review-form">
       <form action="/posts/<%= post._id%>/reviews" method="POST">
        
          <div>
            <fieldset class="starability-fade my-3">
             <p>Rating :</p>
             <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
             <input type="radio" id="first-rate1" name="review[rating]" value="1" />
             <label for="first-rate1" title="Terrible">1 star</label>
             <input type="radio" id="first-rate2" name="review[rating]" value="2" />
             <label for="first-rate2" title="Not good">2 stars</label>
             <input type="radio" id="first-rate3" name="review[rating]" value="3" />
             <label for="first-rate3" title="Average">3 stars</label>
             <input type="radio" id="first-rate4" name="review[rating]" value="4" />
             <label for="first-rate4" title="Very good">4 stars</label>
             <input type="radio" id="first-rate5" name="review[rating]" value="5" />
             <label for="first-rate5" title="Amazing">5 stars</label>
             <button class="d-inline btn btn-sm btn-warning my-2 reset-rating" type="button">Reset</button>
           </fieldset>
           
          </div>
          
         
          
          <div class="form-group">
            <textarea class="form-control" id="" rows="5" placeholder="write your review here ..." name="review[body]"></textarea>
          </div>
  
          <button type="submit" class="btn btn-primary">Submit</button>
       </form>
    </div>
    <!--End of review form-->

   </div>
  </div>
 
 </div>
</div>

<!-- Show Reviews Section-->

<div class="container my-3">
 <div class="row justify-content-center">

  <div class="col-lg-8">
   <h5 class="text-success font-weight-bold">Reviews</h5>
   
   <% post.reviews.forEach(function(review, i){ %>
   <div class="bg-light container p-3 my-2">
     <p class="starability-result" data-rating="<%= review.rating %>"></p>
     <p>By <strong><%= review.author.username %></strong><span> on <%= review.created.toDateString() %></span></p>
     <p><%= review.body %></p>
     <!--Edit / Delete Review Buttons-->
     <% if(currentUser && review.author.equals(currentUser._id)){ %>
        <div class="text-right">
         <button class="edit-review-button bg-transparent border-0 text-warning text-danger"  type="button" data-toggle="collapse" data-target="#edit-review-form<%=i%>">Edit</button>
         <form class="d-inline" action="/posts/<%= post._id %>/reviews/<%= review._id%>?_method=DELETE" method="Post">
           <button title="delete" class="bg-transparent border-0 text-danger"><i class="fas fa-trash-alt"></i></button>
         </form> 
        </div>
     <% } %>
     
   </div>
   
   
   <!-- Edit review Form -->
    <div class="container collapse my-3" id="edit-review-form<%=i%>">
       <form action="/posts/<%= post._id%>/reviews/<%= review._id %>?_method=PUT" method="POST">
        
          <div>
            <fieldset class="starability-fade my-3">
             <p>Rating :</p>
             <input type="radio" id="second-no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
             <input type="radio" id="second-rate1" name="review[rating]" value="1" />
             <label for="second-rate1" title="Terrible">1 star</label>
             <input type="radio" id="second-rate2" name="review[rating]" value="2" />
             <label for="second-rate2" title="Not good">2 stars</label>
             <input type="radio" id="second-rate3" name="review[rating]" value="3" />
             <label for="second-rate3" title="Average">3 stars</label>
             <input type="radio" id="second-rate4" name="review[rating]" value="4" />
             <label for="second-rate4" title="Very good">4 stars</label>
             <input type="radio" id="second-rate5" name="review[rating]" value="5" />
             <label for="second-rate5" title="Amazing">5 stars</label>
             
             <button class="d-inline btn btn-sm btn-warning my-2 reset-rating" type="button">Reset</button>
           </fieldset>
           
          </div>
          
          <div class="form-group">
            <textarea class="form-control" id="" rows="5"  name="review[body]"> <%= review.body %></textarea>
          </div>
  
          <button type="submit" class="btn btn-primary">Update</button>
       </form>
    </div>
    <script>
     $('#second-rate<%= review.rating %>').prop('checked', 'true')
    </script>
    <!--End of edit review form-->
   
   <% }); %>
  </div>
  
 </div>
</div>

<script>

var post = <%- JSON.stringify(post) %>

mapboxgl.accessToken = 'pk.eyJ1IjoiYWxhYW1vdXNzYSIsImEiOiJjanN3aGZsYzYwNHBjM3ludW8xNm9tb3duIn0.Gz_vFJHiKY7jBCcvesbU8A';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center:  post.coordinates,
  zoom: 5
});


// add markers to map
  // create a HTML element for our location/marker
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for our location and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(post.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + post.title + '</h3><p>' + post.location + '</p>'))   
    .addTo(map);


</script>

<script src="/javascripts/post-show.js"></script>